<nav>
    <ul class="nav_list left">
        <li><a class="nav_link <% if(active == 'managmentUsers'){%> on <%}%>" href="/users/managmentUsers">All Users</a></li>
        <li><a class="nav_link <% if(active == 'createUser'){%> on <%}%>" href="/users/createUser">Add Users</a></li>
    </ul>
</nav>