<%-include("partials/header", {title:'Create Member'}) %>
<%-include("partials/menu", {active:baseUrl,admin:admin}) %>
<h2>Subscriptions</h2>
<%-include("partials/menuSubscriptions", {active:path}) %>
<br>
<div class="form_container">
    <form method="POST" action="/subscriptions/createMember">
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" placeholder="" required/>
        <br>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email" placeholder="" required/>
        <br>
        <label for="city">City: </label>
        <input type="text" id="city" name="city" placeholder="" required/>
             

        <br><br>
        <ul class="nav_list left">
            <li><button class="nav_link" type="submit">Save</button></li>
            <li><a href="/subscriptions" class="nav_link" >Cancel</a></li>
        </ul>
        
        
    </form>
</div>

<%-include("partials/footer", {}) %>